<div class="py-20 bg-gradient-to-br from-green-50 to-green-100">
  <div class="max-w-6xl mx-auto m-6 px-4 text-center">
    <h2 class="text-3xl md:text-4xl font-bold text-green-800 mb-4">
      Servicios que atendemos
    </h2>
    <p class="text-gray-600 mb-12">
      Acompañamos tu experiencia con soluciones prácticas y personalizadas.
    </p>

    <!-- Loading -->
     @if(loading){
      <div class="text-green-700 font-semibold">Cargando servicios...</div>
     }

    <!-- Error -->
     @if(!loading && errorMessage){
      <div class="text-red-600 font-semibold">{{ errorMessage }}</div>
     }
    

    <!-- Grid de servicios -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
      @if (!loading && servicios.length > 0) {
        @for (item of servicios; track $index) {
          <div class="bg-white rounded-2xl shadow-lg p-6 hover:shadow-2xl transition-shadow duration-300 group cursor-pointer" (click)="goToService(item.id)">
            <div class="w-16 h-16 mx-auto mb-4 flex items-center justify-center bg-green-100 rounded-full group-hover:bg-green-200 transition-colors duration-300">
              <i class="fas fa-leaf text-green-700 text-2xl"></i>
            </div>
            <h3 class="text-xl font-semibold text-green-700">{{ item.nombre }}</h3>
          </div>
        }
      }
    </div>
  </div>
</div>
