<!-- Sidebar -->
<aside class="flex w-64 h-screen flex-col border-r border-solid border-[#e8f2ec] bg-white">
  
  <!-- Encabezado -->
  <header class="flex items-center gap-4 border-b border-solid border-b-[#e8f2ec] px-6 py-5">
    <!-- Título del Panel -->
    <h2 class="text-[#0e1a13] text-lg font-bold leading-tight tracking-[-0.015em]">Vivero Quilino</h2>
  </header>

  
  <!-- Navegación Principal -->
  <nav class="flex flex-col gap-1 p-4">
    <!-- Enlace Panel (Dashboard) -->
    <a class="flex items-center gap-3 rounded-md px-4 py-2 text-[#51946c] hover:bg-[#e8f2ec] hover:text-[#0e1a13] transition-colors" href="#">
      <span class="material-symbols-outlined text-xl">home</span>
      <span class="text-sm font-medium leading-normal">Panel</span>
    </a>

    <!-- Enlace Plantas -->
    <a routerLink="products" routerLinkActive="bg-[#e8f2ec] text-[#0e1a13]" class="flex items-center gap-3 rounded-md px-4 py-2 text-[#51946c] hover:bg-[#e8f2ec] hover:text-[#0e1a13] transition-colors">
      <span class="material-symbols-outlined text-xl">psychiatry</span>
      <span class="text-sm font-medium leading-normal">Productos</span>
    </a>

    <!-- Enlace Servicios -->
    <a class="flex items-center gap-3 rounded-md px-4 py-2 text-[#51946c] hover:bg-[#e8f2ec] hover:text-[#0e1a13] transition-colors" href="#">
      <span class="material-symbols-outlined text-xl">agriculture</span>
      <span class="text-sm font-medium leading-normal">Servicios</span>
    </a>

    <!-- Enlace Imañgenes -->
    <a class="flex items-center gap-3 rounded-md px-4 py-2 text-[#51946c] hover:bg-[#e8f2ec] hover:text-[#0e1a13] transition-colors" href="#">
      <span class="material-symbols-outlined text-xl">image</span>
      <span class="text-sm font-medium leading-normal">Imágenes</span>
    </a>
  </nav>

  <!-- Navegación Secundaria (Parte inferior) -->
  <div class="mt-auto flex flex-col gap-1 p-4">
    <!-- Enlace de configuración -->
    <a class="flex items-center gap-3 rounded-md px-4 py-2 text-[#51946c] hover:bg-[#e8f2ec] hover:text-[#0e1a13] transition-colors" href="#">
      <span class="material-symbols-outlined text-xl">settings</span>
      <span class="text-sm font-medium leading-normal">Configuración</span>
    </a>
  </div>
</aside>